
/*공용 css임 절대 수정하면 안됨 */

nav,ul,li,a,span {
    border: solid thin lightgray;
    /*border: none;*/
    display: flex;
}
div{
    border:none;
}
#header{
    background-color:#4B89DC;
    color:white;
    display:flex;
}    
#header div{
    display:flex;

 }
#search_case{
    display:flex;
}
#search_case div{
    display:flex;
}
#form_inner_top{
    display:flex;
}
#form_inner_top div{
    display:flex;
}







 html, body {
    width: 100%;
    height: 100%;
    min-width: 1130px;
    display: flex;
    justify-content: center;
 }
 
 #header{
     height: 100px;
 }
 #search_case{
     width: 1130px;
     height:65px;
 }
 #search_case_inner_div_1{
     width:200px;
     margin-left: 100px;
     margin-right:330px;
 }
 #search_case_inner_div_2 input{
     width:300px;
     font-size : 30px;
 }
 #search_case_inner_div_3{
     margin-right:70px;
 }
 #search_case select{
     font-size:20px;
 }
 .wrap {
     display:block;
     width: 1130px;
     height: 1300px;
     background-color:#87CEEB;
 }
 
 .navbar {
    width: 1130px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
 }
 
 .nav_group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 
 .nav_info {
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
    font-size: 17px;
 }
 
 .userName {
    margin-right: 6px;
    font-weight: bolder;
 }
 
 .nim {
    margin-right: 10px;
    font-size: 13px;
    align-self: center;
    margin-top: 4px;
    font-weight: bolder;
 }
 
 .medal {
    margin-right: 20px;
    align-self: center;
    color: #e6bc14;
 }
 
 .mypage {
    margin-right: 20px;
    font-weight: bolder;
 }
 
 .logout {
    font-weight: bolder;
    color: #e67e00
 }
 
 .nav_title {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bolder;
 }
 
 .talk {
    color: black;
 }
 
 /*로고*/
 .logo {
    width: 200px;
    align-self: center;
 }