#write_body_container{
    width:1000px;
    height:1000px;
    background-color:rgba(20,20,20,0.1);
    margin:0 auto;
    display:block;
}

#exp_of_write{
    width:1000px;
    height:40px;
    margin:0 auto;
    text-align:center;
}
#exp_of_write p {
    font-size:30px;
    margin:0 auto;
    text-align:center;
}

#write_form{
    width:1000px;
    height:800px;
    margin:0 auto;
    
}

#form_inner_top{
    width:940px;
    height:50px;
    margin-top:30px;
    margin-left:30px;
    background-color:white;
}

#form_inner_select{
    width:150px;
    
    margin-right:20px;
}
#form_inner_select select{
    width:150px;
    font-size:20px;
}

#form_write_title{
    width:350px;
    height:50px;
    background-color:white;
}

#form_write_title input{
    width:350px;
    height:50px;
}

form{
    font-size:30px;
    width:1000px;
    height:400px;
}

#cover_form{
    margin-top:20px;
    width:1000px;
    height:800px;
    background-color:white;
}